<link
  rel="stylesheet"
  href="https://use.fontawesome.com/releases/v5.15.2/css/all.css"
  integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu"
  crossorigin="anonymous"
/>

<section>
  <div class="example-label">Mídias</div>
  <div class="example-button-row">
    <div class="example-flex-container">
      <div class="example-button-container">
        <a
          href="https://www.linkedin.com/in/ivan-lopes-135b8b1a/"
          target="_blank"
        >
          <button
            class="linkedin"
            mat-fab
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon class="fab fa-linkedin-in"></mat-icon>
          </button>
        </a>
      </div>

      <div class="example-button-container">
        <a href="https://github.com/IvanLopesGit" target="_blank">
          <button
            class="github"
            mat-fab
            aria-label="Example icon button with a delete icon"
          >
            <mat-icon class="githubAlign">
              <i class="fab fa-github fa-lg"></i>
            </mat-icon>
          </button>
        </a>
      </div>
    </div>
  </div>
</section>
