<mat-accordion>
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header collapsedHeight="60px">
      <mat-panel-title class="panelTitle"> Sobre Esse Projeto </mat-panel-title>
      <mat-panel-description class="panelTitle">
        Clique para mais informações
      </mat-panel-description>
    </mat-expansion-panel-header>
    <p class="panelText">
      Projeto criado para a aula prática de Angular no curso da Avanade.<br /><br />
      {{ primeiro }} <br />
      {{ segundo }} <br />
      {{ terceiro }} <br />
      {{ quarto }}
    </p>
  </mat-expansion-panel>
</mat-accordion>
